
.container{
    text-align: center;
}
.row{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.answer{
    font-size: 18pt;
}
#time-remaining{
    font-size: 24pt;
}
#question{
    font-size: 24pt;
}